<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<br/>
<br/>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="usr[username]" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="usr[password]" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
                </div>
            </form>
           
             
        </div>
    </div>
</div>
</body>

</html>