
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <style>
        div.first{
            border:2px solid black; 
            height:50px;
            text-align: center;
            padding-top:12px;
        }
        div.middle{
            border-width:2px 2px 2px 0px; 
            border-style:solid;
            border-color:black;
            height:50px;
            text-align: center;
            padding-top:12px;
        }
        div.last{
            border-width:2px 2px 2px 0px; 
            border-style:solid;
            border-color:black;
            height:50px;
            text-align: center;
            padding-top:6px;
        }
    </style>
    <body>
        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center">User Report</h1>
                <br/>
                 <div class="col-lg-3 first">
                    <strong>Name</strong>
                </div>
                <div class="col-lg-3 middle">
                    <strong>Student ID</strong>
                </div>
                <div class="col-lg-3 middle">
                    <strong>Department</strong>
                </div>
                <div class="col-lg-3 last">
                </div>
                            
                
                <% for(var i=0; i<studentDetails.length;i++){%>
                    <!-- <div class="col-lg-3 first" hidden>
                        <%=studentDetails[i].ID%>
                    </div> -->
                    
                    <div class="col-lg-3 first">
                        <%=studentDetails[i].studentName%>
                    </div>
                    <div class="col-lg-3 middle">
                        <%=studentDetails[i].studentID%>
                    </div>
                    <div class="col-lg-3 middle">
                        <%=studentDetails[i].studentDept%>
                    </div>
                    <div class="col-lg-3 last">
                        <form id="delete" action="/delete/?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                
                <% }%>
                
            </div>
        </div>
    </body>

</html>